body {
	font-family: 'Nunito Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 15px;
}
body * {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	font-family: 'Yeseva One', cursive;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}

ul,li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;	
}

a {
	letter-spacing: 0.02em;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s ease;
}


.container {
	max-width: 1440px;
	margin: 0 auto;
}

/*-----------------------HEADER----------------------*/

.header {
	background-color: #000;
	position: sticky;
	top: 0;
	z-index: 999;
	
}
.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 0;
}

.header__logo {
	color:#E3B873;
	text-transform: uppercase;
}

.header-navigation {
	display: flex;
	margin: 0 auto;
}

.header-navigation__item:not(:last-child) {
	margin-right: 47px;
}
.header-navigation__item a {
	color: #fff;
}

.header-navigation__item a:hover {
	color: #e3b873;
}

.phonenumber {
	color: #e3b873;
	margin-right: 45px;
	font-size: 11px;
	text-decoration: underline;
}

.button {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 11px;
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	border: 1px solid #e3b873;
	outline: 0;
	padding: 12px 32px;
	color: #fff;
	text-transform: uppercase;
	font-style: italic;
	cursor: pointer;
}

.button:hover {
	background: none;
	border-color: #fff;
}

/*-----------------------OFFER----------------------*/

.offer {
	box-sizing: border-box;
	background: url(../img/offer.jpg) top center;
	background-size: cover;
	padding: 194px 0;
	position: relative;
}

.offer:after {
	content: ' ';
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color:rgba(0,0,0,0.7);
}

.offer-content {
	position: relative;
	z-index: 1;
}

.offer__title {
	font-size: 40px;
	line-height: 53px;
	color: #fff;
	width: 540px;
	margin-bottom: 19px;
}

.offer__title span {
	color: #e3b873;
}

.offer__text {
	font-size: 22px;
	color: #fff;
	line-height: 36px;
	margin-bottom: 35px;
	width: 540px;
}

.offer__button {
	padding: 20px 42px;
}

.offer__button:not(:last-child) {
	margin-right: 20px;
}

.offer__button_transparent {
	background: none;
	border: 1px solid #fff;
	box-shadow: none;
}

.offer__button_transparent:hover {
	background: #e3b873;
	border: 1px solid #e3b873;
	color: #fff;
}

.offer__button_solid:hover {
	border: 1px solid #fff;
	background: none;
	color: #fff;
}

/*-----------------------PROJECTS----------------------*/

.projects {
	padding-top: 107px;
	padding-bottom: 415px;
	background: #131313;
}

.projects-menu__list {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 45px;
}


.projects-menu__item {
	font-family: 'Yeseva One', cursive;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	margin-right: 61px;
}
.projects-menu__item:nth-of-type(3) {
	margin-right: 40px;
}

.projects-menu__item_active {
	color: #E3B873;
	border-bottom: 1px solid #E3B873;
	padding-bottom: 7px;
}

.projects-menu__element {
	color: rgba(255,255,255,0.3);
}
.projects-menu__element_active {
	color: #e3b873;
}

.projects__content {
	display: flex;
	justify-content: space-between;
}

.projects__title {
	width: 200px;
	font-size: 27px;
	line-height: 37px;
	color: #e3b873;
	margin-bottom: 34px;
}

.projects__text {
	font-size: 14px;
	line-height: 27px;
	color: #fff;
	margin-bottom: 42px;
}

.projects__img-mobile {
	display: none;
}

.projects__measurement {
	display: flex;
	flex-wrap: wrap;
}

.projects__discription {
	width: 50%;
	
}

.projects__discription:nth-of-type(-n+2) {
	margin-bottom: 34px;
}

.projects__feature {
	font-size: 18px;
	line-height: 25px;
	color: #e3b873;
	margin-bottom: 9px;
}

.projects__feature-text {
	font-size: 13px;
	line-height: 21px;
	color: #fff;
}

.projects__scroll {
	display: flex;
	position: relative;
	padding-left: 70px;
	padding-top: 76px;
	align-items: center;
}

.projects__scroll:before {
	content: '';
	background: url(../img/arrow-left.svg);
	position: absolute;
	width: 42px;
	height: 14px;
	left: 0;
	cursor: pointer;
	
}

.projects__scroll:after {
	content: '';
	background: url(../img/arrow-right.svg);
	position: absolute;
	width: 42px;
	height: 14px;
	left: 160;
	cursor: pointer;
}

.projects__item {
	width: 10px;
	height: 10px;
	background: rgba(255,255,255,0.3);
	border-radius: 50%;
	margin-right: 18px;

}

.projects__item_active {
	background: #fff;
}

.projects__item:nth-child(4) {
	margin-right: 0px;
}


/*-----------------------MEASUREMENT----------------------*/
/*-----------------------ONLINE CONTROL-------------------*/

.control {
	margin-top: -325px;
	text-align: center;
	padding-bottom: 75px;
}

.subtitle {
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 13px;

}

.control__title {
	color:#fff;
}

.control__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e3b873;
	margin: 0 10px;
}

.control__icon:after, .control__icon:before {
	width: 32px;
	content: '';
	height: 2px;
	background: #e3b873;
	border-radius: 30px;
	margin: 0 8px;
}

.control__video {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: -24px;
}

.control__video:before {
	content: ' ';
	height: 85px;
	width: 85px;
	background: #e3b873;
	position: absolute;
	top:40%;
	border-radius: 50%;
	cursor: pointer;
}

.control__video:after {
	content: ' ';
	position: absolute;
	border: 10px solid transparent;
	border-left: 15px solid white;
    top: 46.5%;
    left: 49.6%;
    cursor: pointer;
}

.control__line {
	width: 55px;
	height: 2px;
	background: #e3b873;
	margin: 0 auto;
	margin-bottom: 34px;
}

.control__text {
	width: 679px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 37px;
	margin-bottom: 90px;
}
.control-form {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}


.label1, .label2  {
	display: flex;
	flex-direction: column;
}

.label1 span, .label2 span {
	align-self: flex-start;
	font-size: 13px;
	line-height: 21px;
	color: rgba(54,54,54,0.5);
}

.form__input {
	box-sizing: border-box;
	width: 230px;
	padding: 8px 0;
	font-size: 14px;
	line-height: 23px;
	margin-right: 58px;
	outline: none;
	border: none;
	border-bottom: 1px solid #c3c3c3;
}

.form__button {
	width: 200px;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 27px;
	height: 51px;
    align-self: flex-end;
}

.form__button:hover {
	border: 1px solid #e3b873;
	color: #e3b873;
}

.control-checkbox__text {
	font-size: 14px;
	line-height: 23px;
	color: #000;
}

.control-checkbox {
	display: flex;
	justify-content: center;
	position: relative;
}

.control-checkbox input[type=checkbox] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.control-checkbox__icon {
	position: absolute;
	top:0;
	left: 39%;
	width: 20px;
	height: 20px;
	background-color: #ddd;
	transition: 0.3s background-color;
	cursor: pointer;
}

.control-checkbox__icon:after {
	content: ' ';
	position: absolute;
	display: none;
	left: 6px;
	top:2px;
	width: 4px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.control-checkbox input:checked ~ .control-checkbox__icon {
  background-color: #e3b873;
}

.control-checkbox input:checked ~ .control-checkbox__icon:after {
  display: block;
}

/*-----------------------TYPES OF REPAIR------------------*/

.repair {
	padding-bottom: 244px;
}

.repair__title {
	text-align: center;
}

.repair__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e3b873;
	margin: 0 10px;
	margin-bottom: 31px;
}

.repair__icon:after, .repair__icon:before {
	width: 32px;
	content: '';
	height: 2px;
	background: #e3b873;
	border-radius: 30px;
	margin: 0 8px;
}

.repair__content {
	display: flex;
	justify-content: space-between;
}

.redecorating {
	background: url(../img/redecorating.png) top center;
	width: 392px;
	height: 421px;
}

.overhaul {
	background: url(../img/overhaul.png) top center;
	width: 392px;
	height: 421px;
}

.designer-repair {
	background: url(../img/designer-repair.png) top center;
	width: 392px;
	height: 421px;
}

.panel {
	margin: 0 auto;
	width: 330px;
	margin-top: 294px;
	background-color: #fff;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);	
}

.panel h5 {
	font-size: 18px;
	line-height: 25px;
	text-transform: none;
	 padding: 25px 34px 13px;
}

.card__item {
	align-items: start;
	list-style-position: inside;
	font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin-bottom: 14px;
    padding: 0 34px 0;
}

.card__element {
	list-style-type: disc;
}

.price__button {
	font-family: Yeseva One;
	font-style: normal;
	font-size: 18px;
	line-height: 25px;
	position: relative;
	bottom: -12px;
	padding: 17px 21px; 
}

.price__button:hover {
	color: #e3b873;
	background: #000;
}

/*--------------------MEDIA-------------------*/

@media screen and (max-width: 376px) {
	.header {
		max-width: 100%;
		padding: 23px 0;
	}

	.container {
		max-width: 100%;
		padding: 0 18px;
	}

	.header-navigation {
		display: none;
	}

	.phonenumber {
		text-decoration: none;
		color: #fff;
		margin-right: auto;
	}

	.button {
		display: none;
	}
	/*--------------OFFER--------------*/
	.offer {
		padding-top: 85px;
		padding-bottom: 61px;
*/	}

	.offer__title {
		font-size: 23px;
		line-height: 31px;
		max-width: 100%;

	}

	.offer__text {
		font-size: 14px;
		line-height: 19px;
		width: 100%;
	}

	.offer__button {
		display: block;
		width: 100%;
	}
	.offer__button:not(:last-child) {
		margin-bottom: 25px;
	}
	/*--------------PROJECTS--------------*/
	.projects {
		padding-top: 36px;
	}

	.projects-menu__list {
		display: none;
	}

	.projects__title {
		text-align: center;
		margin: 0 auto;
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 25px;
	}

	.projects__text {
		text-align: center;
		font-size: 11px;
		line-height: 17px;
	}


	.projects__img {
		display: none;
	}
	.projects__img-mobile {
		display: block;
		max-width: 100%;	
	}

	.projects__feature {
		font-size: 14px;
	}

	.projects__feature-text {
		font-size: 11px;
	}
	.projects__discription:nth-of-type(-n+2) {
		margin-bottom: 27px;
	}

	.projects__scroll {
		display: none;
	}


	.control {
		background: #131313;
	}

	.control__icon {
		margin-bottom: 20px ;
	}

	.control__title {
		font-size: 22px;
		line-height: 22px;
	}

	.control__video-fix {
		max-width: 100%;
		margin-bottom: 28px;

	}

	.control__video:before {
	    content: ' ';
	    height: 40px;
	    width: 40px;
	    background: #e3b873;
	    position: absolute;
	    top: 33%;
	    border-radius: 50%;
	    cursor: pointer;
	}

	.control__video:after {
		content: ' ';
	    position: absolute;
	    border: 7px solid transparent;
	    border-left: 10px solid white;
	    top: 39.5%;
	    left: 48.6%;
	    cursor: pointer;
	}

	.control__text {
		font-size: 11px;
		line-height: 19px;
		color: #fff;
		text-align: center;
		width: 100%;
	}

	.form {
		display: block;
		margin-bottom: -20px;
	}

	.label1 {
		margin-bottom: 60px;
	}

	.label1 span, .label2 span {
		align-self: flex-start;
		font-size: 13px;
		line-height: 21px;
		color: rgba(255,255,255,0.5);
	}

	.form__input {
		box-sizing: border-box;
		width: 100%;
		padding: 8px 0;
		font-size: 14px;
		line-height: 19px;
		outline: none;
		border: none;
		border-bottom: 1px solid #c3c3c3;
		background: #131313;
		color:#fff;
	}

	input::-webkit-input-placeholder {
		color: #fff;
	}

	.form__button {
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 27px;
		height: 51px;
	    align-self: flex-end;
	    display: block;
		position: relative;
		top: 100px;
		width: 100%;
	}

	.control-checkbox__text {
		color: #fff;
	}

	.control-checkbox__icon {
	    left: 0;
	    width: 18px;
	    height: 18px;
	}

	.control-checkbox__icon:after {
		width: 3px;
		height: 8px;
	}

	.repair {
		padding-top: 83px;
		padding-bottom: 50px;
	}

	.repair__content {
		flex-direction: column;

	}

	.redecorating {
		max-width: 100%;
		margin-bottom: 200px;
		height: 365px;
	}

	.panel {
		width: 270px;
		margin: 256px 0 0 0;
		box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
	}

	.card__list h5 {
		font-size: 15px;
		line-height: 21px;
	}

	.card__item {
		line-height: 22px;
		margin-bottom: -10px;
	}

	.price__button {
		display: inline-block;
		font-size: 15px;
		line-height: 21px;
		padding: 11px 19px;
		bottom: -22px;
		box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	}

	.overhaul {
		max-width: 100%;
		margin-bottom: 200px;
		height: 365px;
	}

	.designer-repair {
		max-width: 100%;
		margin-bottom: 160px;
		height: 365px;
	}

}
