body {
	font-family: 'Nunito Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 15px;
}
body * {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	font-family: 'Yeseva One', cursive;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}

ul,li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;	
}

a {
	letter-spacing: 0.02em;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s ease;
}


.container {
	max-width: 1440px;
	margin: 0 auto;
}

/*-----------------------HEADER----------------------*/

.header {
	background-color: #000;
	position: sticky;
	top: 0;
	z-index: 999;
	
}
.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 0;
}

.header__logo {
	color:#E3B873;
	text-transform: uppercase;
}

.header-navigation {
	display: flex;
	margin: 0 auto;
}

.header-navigation__item:not(:last-child) {
	margin-right: 47px;
}
.header-navigation__item a {
	color: #fff;
}

.header-navigation__item a:hover {
	color: #e3b873;
}

.phonenumber {
	color: #e3b873;
	margin-right: 45px;
	font-size: 11px;
	text-decoration: underline;
}

.button {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 11px;
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	border: 1px solid #e3b873;
	outline: 0;
	padding: 12px 32px;
	color: #fff;
	text-transform: uppercase;
	font-style: italic;
	cursor: pointer;
}

.button:hover {
	background: none;
	border-color: #fff;
}

/*-----------------------OFFER----------------------*/

.offer {
	box-sizing: border-box;
	background: url(../img/offer.jpg) top center;
	background-size: cover;
	padding: 194px 0;
	position: relative;
}

.offer:after {
	content: ' ';
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color:rgba(0,0,0,0.7);
}

.offer-content {
	position: relative;
	z-index: 1;
}

.offer__title {
	font-size: 40px;
	line-height: 53px;
	color: #fff;
	width: 540px;
	margin-bottom: 19px;
}

.offer__title span {
	color: #e3b873;
}

.offer__text {
	font-size: 22px;
	color: #fff;
	line-height: 36px;
	margin-bottom: 35px;
	width: 540px;
}

.offer__button {
	padding: 20px 42px;
}

.offer__button:not(:last-child) {
	margin-right: 20px;
}

.offer__button_transparent {
	background: none;
	border: 1px solid #fff;
	box-shadow: none;
}

.offer__button_transparent:hover {
	background: #e3b873;
	border: 1px solid #e3b873;
	color: #fff;
}

.offer__button_solid:hover {
	border: 1px solid #fff;
	background: none;
	color: #fff;
}

/*-----------------------PROJECTS----------------------*/

.projects {
	padding-top: 107px;
	padding-bottom: 415px;
	background: #131313;
}

.projects-menu__list {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 45px;
}


.projects-menu__item {
	font-family: 'Yeseva One', cursive;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	margin-right: 61px;
}
.projects-menu__item:nth-of-type(3) {
	margin-right: 40px;
}

.projects-menu__item_active {
	color: #E3B873;
	border-bottom: 1px solid #E3B873;
	padding-bottom: 7px;
}

.projects-menu__element {
	color: rgba(255,255,255,0.3);
}
.projects-menu__element_active {
	color: #e3b873;
}

.projects__content {
	display: flex;
	justify-content: space-between;
}

.projects__title {
	width: 200px;
	font-size: 27px;
	line-height: 37px;
	color: #e3b873;
	margin-bottom: 34px;
}

.projects__text {
	font-size: 14px;
	line-height: 27px;
	color: #fff;
	margin-bottom: 42px;
}

.projects__img-mobile {
	display: none;
}

.projects__measurement {
	display: flex;
	flex-wrap: wrap;
}

.projects__discription {
	width: 50%;
	
}

.projects__discription:nth-of-type(-n+2) {
	margin-bottom: 34px;
}

.projects__feature {
	font-size: 18px;
	line-height: 25px;
	color: #e3b873;
	margin-bottom: 9px;
}

.projects__feature-text {
	font-size: 13px;
	line-height: 21px;
	color: #fff;
}

.projects__scroll {
	display: flex;
	position: relative;
	padding-left: 70px;
	padding-top: 76px;
	align-items: center;
}

.projects__scroll:before {
	content: '';
	background: url(../img/arrow-left.svg);
	position: absolute;
	width: 42px;
	height: 14px;
	left: 0;
	cursor: pointer;
	
}

.projects__scroll:after {
	content: '';
	background: url(../img/arrow-right.svg);
	position: absolute;
	width: 42px;
	height: 14px;
	left: 160;
	cursor: pointer;
}

.projects__item {
	width: 10px;
	height: 10px;
	background: rgba(255,255,255,0.3);
	border-radius: 50%;
	margin-right: 18px;

}

.projects__item_active {
	background: #fff;
}

.projects__item:nth-child(4) {
	margin-right: 0px;
}

/*-----------------------MEASUREMENT----------------------*/
/*-----------------------ONLINE CONTROL-------------------*/

.control {
	margin-top: -325px;
	text-align: center;
	padding-bottom: 75px;
}

.subtitle {
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 13px;
}

.control__title {
	color:#fff;
}

.control__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e3b873;
	margin: 0 10px;
}

.control__icon:after, .control__icon:before {
	width: 32px;
	content: '';
	height: 2px;
	background: #e3b873;
	border-radius: 30px;
	margin: 0 8px;
}

.control__video {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: -24px;
}

.control__video:before {
	content: ' ';
	height: 85px;
	width: 85px;
	background: #e3b873;
	position: absolute;
	top:40%;
	border-radius: 50%;
	cursor: pointer;
}

.control__video:after {
	content: ' ';
	position: absolute;
	border: 10px solid transparent;
	border-left: 15px solid white;
    top: 46.5%;
    left: 49.6%;
    cursor: pointer;
}

.control__line {
	width: 55px;
	height: 2px;
	background: #e3b873;
	margin: 0 auto;
	margin-bottom: 34px;
}

.control__text {
	width: 679px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 37px;
	margin-bottom: 90px;
}

.control-form {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.label1, .label2  {
	display: flex;
	flex-direction: column;
}

.label1 span, .label2 span {
	align-self: flex-start;
	font-size: 13px;
	line-height: 21px;
	color: rgba(54,54,54,0.5);
}

.form__input {
	box-sizing: border-box;
	width: 230px;
	padding: 8px 0;
	font-size: 14px;
	line-height: 23px;
	margin-right: 58px;
	outline: none;
	border: none;
	border-bottom: 1px solid #c3c3c3;
}

.form__button {
	width: 200px;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 27px;
	height: 51px;
    align-self: flex-end;
}

.form__button:hover {
	border: 1px solid #e3b873;
	color: #e3b873;
}

.control-checkbox__text {
	font-size: 14px;
	line-height: 23px;
	color: #000;
}

.control-checkbox {
	display: flex;
	justify-content: center;
	position: relative;
	width: 320px;
	margin: auto;
}

.control-checkbox input[type=checkbox] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.control-checkbox__icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 17px;
	height: 17px;
	background-color: #ddd;
	transition: 0.3s background-color;
	cursor: pointer;
}

.control-checkbox__icon:after {
	content: ' ';
	position: absolute;
	display: none;
	left: 5px;
	top:2px;
	width: 3px;
	height: 8px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.control-checkbox input:checked ~ .control-checkbox__icon {
  	background-color: #e3b873;
}

.control-checkbox input:checked ~ .control-checkbox__icon:after {
  	display: block;
}

/*-----------------------TYPES OF REPAIR------------------*/

.repair {
	padding-bottom: 170px;
}

.repair__title {
	text-align: center;
}

.repair__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e3b873;
	margin: 0 10px;
	margin-bottom: 31px;
}

.repair__icon:after, .repair__icon:before {
	width: 32px;
	content: '';
	height: 2px;
	background: #e3b873;
	border-radius: 30px;
	margin: 0 8px;
}

.repair__content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 250px;
}

.redecorating {
	background: url(../img/redecorating.png) top center;
	width: 392px;
	height: 421px;
}

.overhaul {
	background: url(../img/overhaul.png) top center;
	width: 392px;
	height: 421px;
}

.designer-repair {
	background: url(../img/designer-repair.png) top center;
	width: 392px;
	height: 421px;
}

.panel {
	margin: 0 auto;
	width: 330px;
	margin-top: 294px;
	background-color: #fff;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);	
}

.panel h5 {
	font-size: 18px;
	line-height: 25px;
	text-transform: none;
	 padding: 25px 34px 13px;
}

.card__item {
	align-items: start;
	list-style-position: inside;
	font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin-bottom: 14px;
    padding: 0 34px 0;
}

.card__element {
	list-style-type: disc;
}

.price__button {
	font-family: Yeseva One;
	font-style: normal;
	font-size: 18px;
	line-height: 25px;
	position: relative;
	bottom: -12px;
	padding: 17px 21px; 
}

.price__button:hover {
	color: #e3b873;
	background: #000;
}

.benefits {
	background: url(../img/benefits.png) top left no-repeat;
	display: flex;
	padding-top: 50px;
}

.opportunities {
	margin-bottom: -65px;
}

.opportunity {
	display: flex;
	padding-left: 340px;
	margin-bottom: 96px;
	align-items: center;
}

.opportunity__number {
	display: flex;
	background: #e3b873;
	width: 60px;
	height: 60px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-family: 'Yeseva One', cursive;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	margin-right: 25px;
	border: 8px solid #fff;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.opportunity__text {
	font-size: 14px;
	line-height: 19px;
	width: 340px;
	color: #363636;
}

.benefits__form {
	background: #131313;
	margin-left: auto;
	width: 506px;
	height: 509px;
	display: flex;
	flex-direction: column;
	padding: 28px 49px;
	margin-bottom: 0;
}

.benefits__form_text {
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	width: 270px;
	text-align: center;
	align-self: center;
	margin-bottom: 39px;
}

.benefits__label {
	width: 100%;
}

.benefits__label span {
	color: rgba(255, 255, 255, 0.5);
}

.benefits__input {
	width: 100%;
	background: #131313;
}

.benefits__label input::-webkit-input-placeholder {
		color: #fff;
}

.benefits__label:nth-of-type(-n+2) {
	margin-bottom: 45px;
}

.benefits__label:nth-of-type(3) {
	margin-bottom: 16px;
}

.benefits__input {
	border-bottom-color: rgba(255, 255, 255, 0.15);
	padding: 3px 0 5px;
	color: #fff;
}

.benefits-checkbox {
	display: flex;
	justify-content: start;
}

.benefits-checkbox__text {
	font-size: 14px;
    line-height: 23px;
    color: #fff;
    padding-left: 30px;
    margin-bottom: 30px;
}

.benefits-checkbox__icon {
	left:0;
}

.benefits__button {
	width: 210px ;
	font-size: 13px;
	line-height: 21px;
}

.helpsave {
	display: flex;
	align-items: center;
	padding-right: 150px;
}

.helpsave__icon {
	display: block;
	margin-left: auto;
	background: url(../img/piggybank.svg) center center no-repeat;
	background-color: #e3b873;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	margin-right: 25px;
}

.helpsave__text {
	font-size: 18px;
	line-height: 26px;
	color: #E3B873;
	width: 230px;
}

/*-----------------------GALLERY------------------*/

.gallery {
	box-sizing: border-box;
	background: url(../img/gallery-bg.png) top center no-repeat;
	background-size: cover;
	
}

.gallery-content {
	display: flex;
	justify-content: space-between;
}

.gallery__menu {
	margin-top: 138px;
    margin-left: 99px;
    margin-right: 200px;
}

.gallery__title {
	color: #e3b873;
	width: 320px;
	font-size: 27px;
	line-height: 37px;
}

.gallery__menuelement {
	font-size: 20px;
	line-height: 38px;
	color: #fff;
}

.gallery__menuelement_active {
	color: #e3b873;
	border-bottom: 1px solid #e3b873;
	width: 150px;
}

.gallery__images {
	width: 355px;
	margin-left: auto;
}

.gallery-photo {

}

.gallery1 {
	position: relative;
	top: -40px;
	
}

.gallery2 {
	position: relative;
	bottom: -40px;
}


.gallery3 {
	position: relative;
	top: -100px;
}

.gallery4 {
	position: relative;
	bottom: 40px;
}

/*-----------------------OUR CLIENTS------------------*/

.reviews {

	padding-top: 110px;
	padding-bottom: 345px;
	background: url(../img/Frame.png) bottom repeat-x; 
}

.reviews__title {
	text-align: center;
}

.reviews__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e3b873;
	margin: 0 10px;
	margin-bottom: 31px;
}

.reviews__icon:after, .reviews__icon:before {
	width: 32px;
	content: '';
	height: 2px;
	background: #e3b873;
	border-radius: 30px;
	margin: 0 8px;
}

.reviews__text {
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	color: #363636;
	width: 380px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.reviews__content {
	display: flex;
	justify-content: space-around;
}

.reviews-card {
	width: 370px;
	padding: 15px 20px 0;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.card__title {
	display: flex;
	align-items: center;
	margin-bottom:20px;
}

.reviews-card__icon {
	background: url(../img/comment1.png) left center no-repeat;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-right: 30px;
}

.reviews-card__title {
	font-family: 'Yeseva One', cursive;
	font-size: 18px;
	line-height: 23px;
	color: #181818;
	width: 215px;
}

.reviews-card__text {
	width: 340px;
	font-size: 13px;
	line-height: 23px;
	color: #959595;
}

.reviews-card__block {
	display: flex;
	justify-content: flex-start;
	margin-left: -20px;
}

.measure {
	display: flex;
	align-items: center;
	width: 140px;
	height: 50px;
	background: #e3b873;
	top: 25px;
	margin-right: 1px;
	position: relative;
	box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.measure2 {
	width: 160px;
}

.reviews-card__block_icon {
	margin-left: 15px;
}

.reviews-card__measure {
	font-family: 'Yeseva One', cursive;
	font-size: 17px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-left: 15px;
}

/*-----------------------CONTACTS------------------*/

.contacts {
	background: url(../img/contacts-bg.png) top center;
	background-size: cover;
	position: relative;
	height: 950px;	
}

.contacts-mobile {
	display: none;
}

.contacts__wrapper {
	position: relative;
	z-index: 1;
	top: -210px;
}

.contacts:after {
	content: ' ';
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(0,0,0, 0.9) 3.47%,
	    rgba(0,0,0, 0.8) 100%);
}

.contacts__form {
	position: relative;
	padding: 35px 0;
	width: 880px;
	background: #131313;
	margin: 0 auto;
	margin-bottom: 50px;
}

.form__wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	width: 520px;
}

.contacts__form-box {
	display: flex;
	flex-direction: column;
}

.contacts__form-box span {
	font-size: 13px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
}

.contacts__form-title {
	color: #fff;
	margin-bottom: 20px;
	text-align: center;
}

.contacts__form-input {
	width: 231px;
	background: #131313;
	box-sizing: border-box;
	outline: none;
	border: none;
	padding: 3px 0 5px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	text-decoration: none;
	color:#fff;
	margin-bottom: 45px;
}

.contacts__form-input_text {
	width: 520px;
}

.contacts__form-box input::-webkit-input-placeholder {
	color: #fff;
}

.contacts-checkbox {
	margin-bottom: 50px;
}

.contacts-checkbox__text {
	color: #fff;
	font-size: 14px;
	line-height: 23px;
	width: 270px;
}

.contacts__button {
	display: block;
	margin: 0 auto;
	font-family: Nunito Sans;
	font-size: 13px;
	line-height: 27px;
}

.contacts__map-mobile {
	display: none;
}

.contacts__adress {
	width: 580px;
	margin: 0 auto;
	font-family: Yeseva One;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #E3B873;
	margin-bottom: 25px;
}

.contacts__icons {
	display: flex;
	width: 70px;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom:50px;
}

.signlink {
	width: 30px;
	height: 30px;
    background: #E3B873;
    text-align: center;
    border-radius: 50%;
  	padding-top: 8px;
}

.contacts__map {
	text-align: center;
}

.contacts__map_769 {
		display: none;
	}


/*-----------------------FOOTER------------------*/

.footer{
	background: #000;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 45px 0;
}

.footer__logo {
	color:#E3B873;
	text-transform: uppercase;
}

.footer-navigation {
	display: flex;
	margin: 0 auto;
}

.footer-navigation__item:not(:last-child) {
	margin-right: 47px;
}

.footer-navigation__item a {
	color: #fff;
}

.footer-navigation__item a:hover {
	color: #e3b873;
}

/*--------------------MEDIA-------------------*/

@media screen and (max-width: 1300px) {
	.header {
		max-width: 100%;
		padding: 23px 0;
	}

	.container {
		max-width: 100%;
		padding: 0 20px;
	}

	.benefits {
		max-width: 100%;
	}

	.opportunity {
		padding-left: 50px;
	}

	.gallery {
		display: none;
	}

	.repair {
		padding-bottom: 70px;
	}

	.reviews {
		padding-top: 0px;
	}

	.footer {
		padding: 30px 0;
	}

}

@media screen and (max-width: 1200px) {

	.header__button {
		display: none;
	}

	.repair__content {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.redecorating, .overhaul {
		margin-bottom: 250px;
	}

	.reviews__content {
		flex-wrap: wrap;
	}

	.reviews-card:nth-of-type(-n+2) {
		margin-bottom: 100px;
	}

	.footer__button {
		display: none;
	}

}

@media (max-width: 992px) {
	.header-navigation {
		display: none;
	}

	.projects__img {
		width: 400;
		height: 300px;
		margin-top: 150px;
	}

	.control__video {
		width: 90%;
	}

	.opportunity {
		display: none;
	}

	.benefits__form {
		margin: 0 auto;
	}

	.helpsave {
		display: none;
	}

	.contacts__form {
		width: 700px;
	}

	.contacts__map {
		display: none;
	}

	.contacts__map_769 {
		display: block;
	}

	.footer-navigation {
		display: none;
	}

@media screen and (max-width: 376px) {
	.header {
		max-width: 100%;
		padding: 23px 0;
	}

	.container {
		max-width: 100%;
		padding: 0 18px;
	}

	.header-navigation {
		display: none;
	}

	.phonenumber {
		text-decoration: none;
		color: #fff;
		margin-right: auto;
	}

	.button {
		display: none;
	}
	/*--------------OFFER--------------*/
	.offer {
		padding-top: 85px;
		padding-bottom: 61px;
*/	}

	.offer__title {
		font-size: 23px;
		line-height: 31px;
		max-width: 100%;

	}

	.offer__text {
		font-size: 14px;
		line-height: 19px;
		width: 100%;
	}

	.offer__button {
		display: block;
		width: 100%;
	}
	.offer__button:not(:last-child) {
		margin-bottom: 25px;
	}
	/*--------------PROJECTS--------------*/
	.projects {
		padding-top: 36px;
	}

	.projects-menu__list {
		display: none;
	}

	.projects__title {
		text-align: center;
		margin: 0 auto;
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 25px;
	}

	.projects__text {
		text-align: center;
		font-size: 11px;
		line-height: 17px;
	}


	.projects__img {
		display: none;
	}
	.projects__img-mobile {
		display: block;
		max-width: 100%;	
	}

	.projects__feature {
		font-size: 14px;
	}

	.projects__feature-text {
		font-size: 11px;
	}
	.projects__discription:nth-of-type(-n+2) {
		margin-bottom: 27px;
	}

	.projects__scroll {
		display: none;
	}


	.control {
		background: #131313;
	}

	.control__icon {
		margin-bottom: 20px ;
	}

	.control__title {
		font-size: 22px;
		line-height: 22px;
	}

	.control__video-fix {
		max-width: 100%;
		margin-bottom: 28px;

	}

	.control__video:before {
	    content: ' ';
	    height: 40px;
	    width: 40px;
	    background: #e3b873;
	    position: absolute;
	    top: 33%;
	    border-radius: 50%;
	    cursor: pointer;
	}

	.control__video:after {
		content: ' ';
	    position: absolute;
	    border: 7px solid transparent;
	    border-left: 10px solid white;
	    top: 39.5%;
	    left: 48.6%;
	    cursor: pointer;
	}

	.control__text {
		font-size: 11px;
		line-height: 19px;
		color: #fff;
		text-align: center;
		width: 100%;
	}

	.form {
		display: block;
		margin-bottom: -20px;
	}

	.label1 {
		margin-bottom: 60px;
	}

	.label1 span, .label2 span {
		align-self: flex-start;
		font-size: 13px;
		line-height: 21px;
		color: rgba(255,255,255,0.5);
	}

	.form__input {
		box-sizing: border-box;
		width: 100%;
		padding: 8px 0;
		font-size: 14px;
		line-height: 19px;
		outline: none;
		border: none;
		border-bottom: 1px solid #c3c3c3;
		background: #131313;
		color:#fff;
	}

	input::-webkit-input-placeholder {
		color: #fff;
	}

	.form__button {
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 27px;
		height: 51px;
	    align-self: flex-end;
	    display: block;
		position: relative;
		top: 100px;
		width: 100%;
	}

	.control-checkbox__text {
		color: #fff;
	}

	.control-checkbox__icon {
	    left: 0;
	    width: 18px;
	    height: 18px;
	}

	.control-checkbox__icon:after {
		width: 3px;
		height: 8px;
	}
/*--------------REPAIR--------------*/
	.repair {
		padding-top: 83px;
		padding-bottom: 0px;
	}

	.repair__content {
		flex-direction: column;
	}

	.redecorating {
		max-width: 100%;
		margin-bottom: 200px;
		height: 365px;
	}

	.panel {
		width: 270px;
		margin: 256px 0 0 0;
		box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
	}

	.card__list h5 {
		font-size: 15px;
		line-height: 21px;
	}

	.card__item {
		line-height: 22px;
		margin-bottom: -10px;
	}

	.price__button {
		display: inline-block;
		font-size: 15px;
		line-height: 21px;
		padding: 11px 19px;
		bottom: -22px;
		box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	}

	.overhaul {
		max-width: 100%;
		margin-bottom: 200px;
		height: 365px;
	}

	.designer-repair {
		max-width: 100%;
		margin-bottom: 160px;
		height: 365px;
	}

	.benefits {
		display: none;
	}

	.helpsave {
		display: none;
	}

	.reviews {
		display: none;
	}
/*--------------CONTACTS--------------*/
	.contacts {
		width: 100%;
		position: static;
		background: #131313;
		height: 970px;
	}

	.contacts:after {
		display: none;
	}

	.contacts-mobile {
		display: block;
		color: #e3b873;
		width: 100%;
	}

	.contacts-mobile__title {
		margin-bottom: 24px;
		text-align: center;
	}

	.contacts-mobile__img {
		max-width: 100%;
	}

	.contacts__form {
		width: 100%;
		margin-bottom: 0px;
	}

	.form__wrapper {
		width: 100%;
	}

	.contacts__form-input {
		width:322px;
		flex-wrap: wrap;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}

	.contacts__form-input_text {
		margin-bottom: 20px;
	}

	.contacts__button {
		top: 0;
	}

	.contacts__map-mobile {
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}

	.contacts__map {
		display: none;
	}

	.contacts__map_769 {
		display: none;
	}

	.contacts__adress {
		width: 100%;
		font-size: 18px;
		line-height: 25px;
	}

	.contacts__content {
		height: 970px;
	}

	.footer {
		display: none;
	}

}
